
html, body {
	margin : 0;
	border : 0;
	padding : 0;
	width : 100%;
	height : 100%;
}
body {
	padding : 2px;
}


/**
 * divの左配置、右配置にはfloatを利用します。
 * divにはwidth, heightも指定して、画面全体綺麗に配置するようにしましょう。
 * divの背景色には下記の色を利用してください。
 * blue: #BBDEFB;
 * green: #C8E6C9;
 * pink: #F8BBD0;
 * buttonを枠の右下に表示するには、position, right, bottomを利用します。
 * buttonを角丸にするには「border-radius」を使用します。
 * buttonの親のdivタグにもpositionの指定が必要です。
 */

.panel-left {
	float: left;
	width: 50%;
	height: 100%;
}

.panel-right {
	position: relative;
	float: right;
	width: 50%;
	height: 50%;
}

.bg-blue {
	background-color: #BBDEFB;
}
.bg-green {
	background-color: #C8E6C9;
}
.bg-pink {
	background-color: #F8BBD0;
}
.button {
	position: absolute;
	right: 24px;
	bottom: 24px;
	border: 0px;
	border-radius: 4px;
	padding: 8px 24px;
	background-color: blue;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
}

