@CHARSET "UTF-8";

/****** 共通 */

/* 全タグへ適用 */
* {
	/* 外部余白 */
	margin: 0;
	/* 内部余白 */
	padding: 0;
	/* フォント */
	font-family: "sans-serif";
}

/****** 基礎 */
body {
	/* 背景色 */
	background-color: #f9eed3;
}

/* ヘッダー */
header {
	background-color: #668b8a;
	height: 100px;
	align-items: flex-start;
}

.title {
	display: inline-block;
	color: brack;
	text-size: 32px;
	text-align: left;
	width: 50%;
}

.logout-btn {
	display: inline-block;
	float: right;
	margin: 10px
}

.renting-books-btn {
	display: inline-block;
	float: right;
	margin: 10px;
}

/* 検索条件入力欄 */
.search {
	position: relative;
	width: 95%;
	height: 250px;
}

.search-table {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-55%) translateX(-55%);
	-webkit- transform: translateY(-50%) translateX(-50%);
	font-size: 16px;
}

.search-table th {
	text-align: right;
	width: 30%;
	height: 100%;
}

.search-table td {
	text-align: left;
	width: 70%;
	height: 100%;
}

.search-table input {
	text-align: left;
	width: 100%;
	height: 100%;
}

.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 100px;
	height: 1.5rem;
}

/* 検索結果 */
.result {
	width: 90%;
	height: 100%;
}

.result-table {
	margin: 0 auto 0 auto;
}

.result-table td:nth-child(1) {
	word-wrap: break-word;
}

/*



.search-table th {
	text-align: right;
	width: 20%;
	height: 100%;
}

.search-table td {
	text-align: left;
	width: 100%;
	height: 100%;
} */

/*
#table {
	外部余白
	margin-top: 5px;
	margin-left: 10px;
}

***** テーブル
table {
	枠線
	border-collapse: collapse;
	border-right: 1px solid #999;
}

table th {
	内部余白
	padding: 10px;
	枠線
	border-top: 1px solid #fff;
	文字色
	color: #fff;
	文字表示
	text-align: left;
	vertical-align: top;
	背景色
	background-color: #555;
}

table td {
	内部余白
	padding: 6px;
	枠線
	border: 1px solid #999;
	背景色
	background-color: #fff;
} */