@CHARSET "UTF-8";

/****** 共通 */

/* 全タグへ適用 */
* {
	/* 外部余白 */
	margin: 0;
	/* 内部余白 */
	padding: 0;
	/* フォント */
	font-family: "sans-serif";
}

/****** 基礎 */

body{
	/* 背景色 */
	background-color:#f9eed3;
}

/* ヘッダー */
header {
	background-color: #668b8a;
	height: 100px;
	align-items: flex-start;
}

.title{
	display: inline-block;
	color: brack;
	text-size: 32px;
	text-align: left;
	width: 50%;
}

.logout-btn{
	display: inline-block;
	float: right;
	margin:10px
}

.renting-books-btn{
	display: inline-block;
	float: right;
	margin:10px;
}

.search{
	align-center;
	width: 80%;
	margin: 10%
}

.search-table{
	width: 100%;
	height: 100px;
}

.search-table th{
	text-align: right;
	width: 100%;
	height: 100%;
}

.search-table td{
	text-align: right;
	width: 80%;
	height: 100%;
}

/*
#table {
	外部余白
	margin-top: 5px;
	margin-left: 10px;
}

***** テーブル
table {
	枠線
	border-collapse: collapse;
	border-right: 1px solid #999;
}

table th {
	内部余白
	padding: 10px;
	枠線
	border-top: 1px solid #fff;
	文字色
	color: #fff;
	文字表示
	text-align: left;
	vertical-align: top;
	背景色
	background-color: #555;
}

table td {
	内部余白
	padding: 6px;
	枠線
	border: 1px solid #999;
	背景色
	background-color: #fff;
} */